# API Key - 절대 올리지 말 것!
.env

# Python
__pycache__/
*.pyc
*.pyo
.venv/
myvenv/

# ChromaDB 데이터
chroma_db/

# 수집 데이터 (용량 큰 파일)
*.csv
*.parquet
*.json
*.zip
*.bin
*.pickle
*.sqlite3
**.safetensors
## !day2/03_fss_api/data/stock_prices.csv

# OS
.DS_Store
Thumbs.db
